.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #666;
  height: 50px;
  padding: 5px;
  color: white;
  width: 100%;
  position :fixed;
  top: 0;
  z-index: 1;
}

.App-title {
  font-size: 1.0em;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@media screen and (max-width: 361px) {
  .App-header {
    position: top;
  }
}