/* Name: App.css
** Desc: Initial App Style
** Date: 26th July 2018
** Author: Colin Ashley
*/

.app {
  text-align: center;
}

.app-header {
  background-color: #666;
  color: white;
  height: 50px;
  padding: 5px;
  position :fixed;
  top: 0;
  width: 100%;
  z-index:  1;
}

.app-title {
  font-size: 1.0em;
  text-align: center;
}

/* media query for smaller screens */
@media screen and (max-width: 360px) {
  .app-header {
    position: top;
  }
}